@use "../foundation"as *;

.p-chara {
  background: $color-bg;
  position: relative;
  z-index: 500;
  padding: 60px 0 80px;

  @include mq-target(sm) {
    padding: vw(100px, 1920) 0 vw(80px, 1920);
  }


  &-header {
    @include flex($align:center, $justify:space-between, $wrap:wrap);
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-bottom: 30px;

    @include mq-target(sm) {
      flex-direction: row;
      width: 92%;
    }

    @include mq-target(md) {
      width: 70%
    }

    .c-sec__ttl {
      margin: 0;
    }
  }

  &-slider {
    // height: vw(700px, 1920);
    overflow: visible;
    position: relative;
    width: 90%;
    margin: auto;

    @include mq-target(sm) {
      width: 92%;
    }

    @include mq-target(md) {
      width: 80%
    }

    &__thumb {
      width: 100%;

      @include mq-target(sm) {
        width: 50%;
      }
    }

    &__list {
      &--thumb {
        @include flex($align:center, $wrap:wrap, $justify:space-between);
        @include column4(24.5%);
        margin-left: auto;
      }
    }

    &__item {

      &--thumb {
        cursor: pointer;
        width: 24.5%;
        margin-bottom: 0.5%;

        &.swiper-slide-thumb-active img {
          filter: grayscale(0);
        }

        img {
          filter: grayscale(1);
          transition: filter 0.4s ease;
        }
      }

      &--slide {
        opacity: 0;
        transition: opacity 0.5s ease 0s;
        overflow: hidden;
        position: relative;

        &.swiper-slide-active {
          opacity: 1 !important;
          pointer-events: initial !important;

          & .p-chara-content__img {
            img {
              clip-path: polygon(0 -100%, 0 100%, 200% 100%);
            }
          }

          & .p-chara-content__frame {
            transition: 0.6s 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            opacity: 1;
            transform: scale(1) translate(0, 0);
          }
        }
      }

    }

  }

  &-content {

    &__bg {
      @include absAll;
    }

    &__list {
      @include flex($justify:space-between);
      flex-direction: column;

      // height: vw(900px, 1920);
      @include mq-target(sm) {
        height: vw(760px, 1920);
        flex-direction: row-reverse;
      }
    }

    &__item {

      &--bg {
        @include absAll;
        z-index: 0;
      }

      &--chara {
        position: relative;
        width: 90%;
        margin: auto;
        height: vw(700px, 768);

        @include mq-target(sm) {
          width: 43.58125915080527vw;
        }
      }

      &--desc {
        position: relative;
        @include flexCenter;
        flex-direction: column;
        z-index: 20;

        @include mq-target(sm) {
          top: -2vw;
          z-index: 5;
          // padding-left: 15.197657393850659vw;
          padding-left: vw(100px, 1920);
          width: vw(900px, 1920);
          margin: auto;
          // width: 40.51244509516838vw;
        }
      }
    }

    &__frame {
      opacity: 0;
      overflow: hidden;
      transform: translateX(20%);
      margin: auto;
      padding: vw(40px, 768) vw(30px, 768) vw(80px, 768);
      // width: vw(600px, 1920);

      @include mq-target(sm) {
        padding: vw(40px, 1920);
      }

      background: url(../../assets/images/charaBg04.jpg);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      overflow: hidden;
    }

    &__img {
      position: relative;
      width: 90%;
      // height: 67.05710102489019vw;
      margin: auto;
      z-index: 10;

      @include mq-target(sm) {
        width: vw(546px, 1920);
        right: 6.342606149341142vw;
        bottom: 0.294289897510981vw;
      }

      img {
        clip-path: polygon(0 100%, 0 100%, 0 100%);
        transition: clip-path 0.8s cubic-bezier(.25, .46, .45, .94), -webkit-clip-path 1s cubic-bezier(.6, .8, .8, 1.2);
      }

      &--first {
        @include mq(sm) {
          right: .342606149341142vw;
          bottom: 0;
        }
      }

      &--second {
        bottom: vw(-40px, 1920);

        @include mq-target(sm) {
          // right: 9.342606149341142vw;
        }
      }

      &--third {
        bottom: vw(-30px, 1920);

        @include mq-target(sm) {
          // right: 8.342606149341142vw;
        }
      }
    }

    &__heading {

      // text-align: left;
      h3 {
        background-image: linear-gradient(to bottom, #d81c03, #352e2c);
        -webkit-background-clip: text;
        color: transparent;
        font-size: min(vw(42px, 365), 52px);
        font-weight: 400;
        line-height: 1;
        text-transform: uppercase;

        @include mq-target(sm) {
          font-size: vw(52px, 1920);
        }
      }

      p {
        font-size: min(vw(12px, 365), 16px);

        @include mq-target(sm) {
          font-size: vw(16px, 1920);
        }
      }
    }

    &__txt {
      font-size: min(vw(10px, 365), 16px);
      text-align: left;
      line-height: 1.714285714285714;
      // margin: 20px 0;

      @include mq-target(sm) {
        font-size: vw(16px, 1920);
        // margin: vw(10px,1920) 0 0;
      }
    }

    &__object {
      position: absolute;
      right: 2vw;
      top: 1.4vw;

      img {
        // animation: cm_chara_2 5.5s infinite;
        width: 7vw;
      }
    }

    &__switch {
      @include flex($align:center);
      margin: 10px 0;
      justify-content: center;

      @include mq-target(sm) {
        margin: vw(14px, 1920) 0 vw(20px, 1920);
      }
    }

    &__btn {
      position: relative;
      @include flex($align:center, $justify:center);
      font-family: $shippo;
      cursor: pointer;
      width: 100px;
      height: 50px;
      line-height: 1;

      @include mq-target(sm) {
        width: 10.35212298682284vw;
        height: 4.543923865300147vw;
      }

      @include mq-target(md) {
        width: 8.35212298682284vw;
        height: 3.243923865300147vw;
      }

      div {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;

        &::before {
          content: '';
          @include absAll;
          background: url(../../assets/images/choke_bg.png);
          background-size: 100% 100%;
          background-position: center;
          opacity: 1;
          transition: all 0.3s;
        }
      }

      span {
        top: -3px;
        position: relative;
        font-size: 14px;

        @include mq-target(sm) {
          top: vw(-3px, 1920);
          font-size: vw(16px, 1920);
        }
      }
    }

  }

}