@use "../foundation"as *;

.p-movie {
  background: $color-bg;
  position: relative;
  z-index: 50;
  padding: vw(20px, 768) 0;

  @include mq-target(sm) {
    padding: vw(60px, 1920) 0 vw(40px, 1920);
  }

  &__inner {
    position: relative;
    width: 90%;
    margin: auto;
    @include mq-target(sm) {
      width: 96%;
    }

    @include mq-target(md) {
      width: 72%;
    }
  }

  &__header {
    margin-bottom: 14px;
    @include flex($align:center);
    margin-bottom: vw(30px, 1920);
  }

  &-slider {
    &__container {
      overflow: visible;
    }

    &__wrap {
      box-sizing: content-box;

      @include mq-target(sm) {
        width: 100%;
        box-sizing: border-box;
      }
    }

    &__slide {
      width: 100%;
      margin-right: 2%;

      @include mq-target(xs) {
        width: 48%;
      }

      @include mq-target(sm) {
        margin-right: 1%;
        width: 32%;
      }

      @include mq-target(md) {}

      &:last-child {
        margin-right: 0;
      }

      &:nth-child(1),
      &:nth-child(2) {
        a {
          display: block;

          figcaption {
            ul {
              .date {
                &::after {
                  content: "";
                  @include absCenter;
                  background: #10b475;
                  border-radius: 100%;
                  display: block;
                  transform: translateX(-50%);
                  height: 6px;
                  width: 6px;
                  @include mq-target(sm) {
                    height: vw(6px, 1920);
                    width: vw(6px, 1920);
                  }
                  z-index: 1;
                  top: 40%;
                  left: -4%;
                }
              }
            }
          }
        }
      }
    }

    &__btn {
      cursor: pointer;
      display: flex;
      margin-left: 10px;
      @include mq-target(sm) {
        margin-left: vw(16px, 1920);
      }
    }

    // &__controller {
    //   margin: min(vw(15px, 768), 30px) 0 0;
    //   @include flex($align:center, $justify:space-between);
    // }

    // &__pagi {
    //   position: relative;
    //   bottom: initial !important;
    //   @include flex($align:center, $wrap:wrap);
    //   .swiper-pagination-bullet {
    //     background: $color-main;
    //     width: min(vw(10px, 365), 20px);
    //     height: 3px;
    //     border-radius: 0;
    //     transition: width .8s cubic-bezier(.2, 1, .2, 1);

    //     @include mq-target(sm) {
    //       width: min(vw(20px, 768), 40px);
    //     }
    //   }

    //   .swiper-pagination-bullet-active {
    //     width: min(vw(20px, 365), 40px);
    //     background: $color-red;

    //     @include mq-target(sm) {
    //       width: min(vw(40px, 768), 80px);
    //     }
    //   }
    // }

    &__btnPrev,
    &__btnNext {
      flex-shrink: 0;
      margin: 0;
      left: initial;
      right: initial;
      display: grid;
      place-content: center;
      position: relative;
      overflow: visible;
      width: 40px;
      height: 40px;

      @include mq-target(sm) {
        width: vw(50px, 1920);
        height: vw(50px, 1920);
      }

      &::after {
        content: "";
        width: 40px;
        height: 40px;
        @include mq-target(sm) {
          width: vw(50px, 1920);
          height: vw(50px, 1920);
        }

        // content: "";
        background: url(../../assets/images/arrow_next.png) no-repeat center/contain;
      }
    }

    &__btnPrev {
      margin-right: 4px;
      @include mq-target(sm) {
        margin-right: vw(4px, 1920);
      }

      &::after {
        background: url(../../assets/images/arrow_prev.png) no-repeat center/contain;
      }
    }
  }

  &-content {
    &__link {
      transition: all .2s ease;
      position: relative;
      overflow: hidden;
      display: block;

      &:hover {
        transform: translate3d(0, 0.2rem, 0);
      }

      &::after {
        content: "";
        @include absAll;
        display: block;
        background: url(../../assets/images/frame.png) no-repeat left top / contain;
        // background-size: 100% auto;
      }
    }

    &__img {
      width: 99%;
      margin: auto;
      position: relative;
      overflow: hidden;

    }

    &__cap {
      flex: 1;
      padding: min(vw(12px, 365), 14px);
      font-weight: 600;
      padding: 6px 14px;
      @include mq-target(sm) {
        padding: 4px vw(14px, 1920);
      }
    }

    &__labels {
      position: relative;
      @include flex($wrap:wrap);
      align-items: center;
      overflow: hidden;
      margin: 0 -8px 0;
      padding: 0 8px 0;
      @include mq-target(sm) {
        margin: 0 vw(-8px, 1920) 0;
        padding: 0 vw(8px, 1920) 0;
      }


      li {
        @include flex($align:center, $justify:center);
        margin: 0 4px 0 0;
        padding: 2px 8px;
        border: 1px solid transparent;
        filter: brightness(1.5);
        @include mq-target(sm) {
          margin: 0 vw(8px, 1920) 0 0;
          padding: vw(2px, 1920) vw(8px, 1920);
        }

        &:last-child {
          margin: 0;
        }
      }

      .date {
        position: relative;
        font-weight: 400;
        top: 2px;
        line-height: 1;
        font-size: 30px;
        @include mq-target(sm) {
          top: vw(2px, 1920);
          font-size: vw(42px, 1920);
        }
      }

      .info {
        background-color: transparent;
        border-color: $color-red;
        color: $color-red;
        font-size: 10px;
        @include mq-target(sm) {
          font-size: vw(12px, 1920);
        }
      }
    }

    &__heading {
      display: -webkit-box;
      text-align: left;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden; 
      font-size: 12px;

      @include mq-target(sm) {
        font-size: vw(14px, 1920);
      }
    }
  }
}


.swiper-button-disabled {
  opacity: 0.35 !important;
}