@use "../foundation"as *;

.p-sys {
    position: relative;
    padding-top: 80px;

    @include mq-target(sm) {
        padding-top: vw(100px,1920);
    }
    &__inner {
        margin-top: 20px;
        // @include maxWidth(1000px);
        margin: auto;
        @include mq-target(sm) {
            width: 82%;
        }
        @include mq-target(lg) {
            width: vw(1200px,1920);
        }
    }

    &-slider {

        &__item {
            display: flex;
            flex-direction: column;
            @include mq-target(sm) {
                display: block;
            }
        }
    }

    &-content {

        &__ttl {
            @include flex($align:center, $wrap:wrap);
            h3 {
                border-left: 1px solid $color-red;
                margin-left: 12px;
                padding-left: 12px;
                font-size: 28px;
                position: relative;
                z-index: 1;
                font-weight: 600;
                margin-bottom: 0;
                text-shadow: black 1px 1px 7px, black -1px 1px 7px, black 1px -1px 7px, black -1px -1px 7px;

                @include mq-target(sm) {
                    font-size: min(vw(38px,1920));
                }
            }

            p {
                position: relative;
                top: 2px;
                font-size: 34px;
                background-image: linear-gradient(to bottom, #d81c03, #352e2c);
                -webkit-background-clip: text;
                color: transparent;
                font-weight: 700 !important;

                @include mq-target(sm) {
                    font-size: min(vw(50px,1920));
                }
            }
        }

        &__txt {
            font-size: min(vw(10px, 365), 14px);
            text-align: left;
            line-height: 2;

            margin: 20px 0;
            @include mq-target(sm) {
                font-size: vw(16px, 1920);
                margin: vw(30px,1920) 0 vw(44px,1920);
            }
        }

        &__thumb {
            @include flex($align:center, $justify:space-between);
            flex-wrap: wrap;
            @include mq-target(sm) {
                margin: 0;
            }
        }

        &__img {
            transition-delay: .2s;
            width: 100%;
            width: 48%;
            @include mq-target(xs) {
                // transform: rotate(-2deg);
                // &:nth-child(2) {
                //     transform: rotate(4deg);
                // }
            }

        }

    }
}